<div class="page-header">
  <div class="container">
    <h1>Клиенты</h1>
  </div>
</div>


<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div ng-if="!$ctrl.newClient">
        <button class="btn btn-success" ng-click="$ctrl.startNewClient()">Добавить нового клиента</button>
      </div>
      <div ng-if="$ctrl.newClient">
        <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="text" class="form-control" id="email" ng-model="$ctrl.newClient.email">
        </div>
        <div class="form-group">
          <label for="active">Активный:</label>
          <input type="checkbox" id="active" ng-model="$ctrl.newClient.active">
        </div>
        <div class="form-group">
          <label for="comment">Комментарий:</label>
          <input type="text" class="form-control" id="comment" ng-model="$ctrl.newClient.comment">
        </div>

        <button class="btn btn-success" ng-click="$ctrl.saveClient()">Сохранить</button>
        <button class="btn btn-danger" ng-click="$ctrl.cancelAddNewClient()">Отмена</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th>e-mail</th>
          <th>Активный</th>
          <th>Дата создания</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="client in $ctrl.clients">
          <td>{{client.email}}</td>
          <td>{{client.active && "Да" || "Нет" }}</td>
          <td>{{client.created}}</td>
          <td>
            <button type="button" class="btn-info" ng-click="showClient(client)">
              Просмотреть
            </button>
          </td>
          <td>
            <button type="button" class="btn-danger" ng-click="$ctrl.generateReport(client.id)">
              Отчет
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <ul uib-pagination items-per-page="20" total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage"
          ng-change="pageChanged()">
      </ul>
    </div>
  </div>
</div>
