<script type="text/ng-template" id="chosenDates.modal.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Выберите даты для отчета</h3>
  </div>
  <div class="modal-body" id="modal-body">

    <form name="reportParams">
      <div class="row">
        <div class="col-md-4">
          <span class="separate-marker"> c:</span>
          <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="$ctrl.startDate"
                   is-open="$ctrl.startDateOpened"
                   datepicker-options="dateOptions" ng-required="true"
                   close-text="Закрыть"
                   current-text="Сегодня"
                   clear-text="Очистить"/>
            <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="$ctrl.toggleStartDate()">
          <i class="glyphicon glyphicon-calendar"></i>
          </button>
          </span>
          </div>
        </div>
        <div class="col-md-4">
          <span class="separate-marker">по:</span>
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="$ctrl.endDate"
                   is-open="$ctrl.endDateOpened"
                   datepicker-options="dateOptions" ng-required="true"
                   close-text="Закрыть"
                   current-text="Сегодня"
                   clear-text="Очистить"/>
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.toggleEndDate()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
          </p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.submit(reportParams)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
  </div>
  </form>
</script>
<div class="page-header">
  <div class="container">
    <h1>Клиенты</h1>
  </div>
</div>


<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div ng-if="!$ctrl.newClient">
        <button class="btn btn-success" ng-click="$ctrl.startNewClient()">Добавить нового клиента</button>
      </div>
      <div ng-if="$ctrl.newClient">
        <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="text" class="form-control" id="email" ng-model="$ctrl.newClient.email">
        </div>
        <div class="form-group">
          <label for="active">Активный:</label>
          <input type="checkbox" id="active" ng-model="$ctrl.newClient.active">
        </div>
        <div class="form-group">
          <label for="comment">Комментарий:</label>
          <input type="text" class="form-control" id="comment" ng-model="$ctrl.newClient.comment">
        </div>

        <button class="btn btn-success" ng-click="$ctrl.saveClient()">Сохранить</button>
        <button class="btn btn-danger" ng-click="$ctrl.cancelAddNewClient()">Отмена</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th>e-mail</th>
          <th>Активный</th>
          <th>Дата создания</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="client in $ctrl.clients">
          <td>{{client.email}}</td>
          <td>{{client.active && "Да" || "Нет" }}</td>
          <td>{{client.created}}</td>
          <td>
            <button type="button" class="btn-info" ng-click="showClient(client)">
              Просмотреть
            </button>
          </td>
          <td>
            <button type="button" class="btn-danger" ng-click="$ctrl.generateReport(client.id)">
              Отчет
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <ul uib-pagination items-per-page="20" total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage"
          ng-change="pageChanged()">
      </ul>
    </div>
  </div>
</div>
