<div class="page-header">
  <h1>Клиенты</h1>
</div>


<div class="container">

  <div class="row">
    <div ng-if="!vm.newClient">
      <button class="btn-success" ng-click="vm.startNewClient()">Добавить нового клиента</button>
    </div>
    <div ng-if="vm.newClient">
      <p>E-mail: </p> <input type="text" ng-model="vm.newClient.email">
      <p>Активный: </p> <input type="checkbox" ng-model="vm.newClient.active">
      <p>Комментарий: </p> <input type="text" ng-model="vm.newClient.comment">

      <button class="btn-success" ng-click="vm.saveClient()">Сохранить</button>
      <button class="btn-danger" ng-click="vm.cancelAddNewClient()">Отмена</button>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th>e-mail</th>
          <th>Активный</th>
          <th>Дата создания</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="client in vm.clients">
          <td>{{client.email}}</td>
          <td>{{client.active && "Да" || "Нет" }}</td>
          <td>{{client.created}}</td>
          <td>
            <button type="button" class="btn-info" ng-click="showClient(client)">
              Просмотреть
            </button>
          </td>
          <td>
            <button type="button" class="btn-danger" ng-click="showModal((client.links | filter:{rel:'self'})[0].href)">
              Редактировать
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <ul uib-pagination items-per-page="20" total-items="vm.totalItems" ng-model="vm.currentPage"
          ng-change="pageChanged()">
      </ul>
    </div>
  </div>
</div>
